<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name ,:size=>"50" %>
  </div>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.text_field :goal ,:size=>"50" %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo , :size=>"60x10"%>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :security %><br>
    <%= f.select :security, options_for_select(Task.security_list,:selected => @task.security) %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(Task.state_list,:selected => @task.state)  %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.select :priority, options_for_select(Task.priority_list,:selected => @task.priority)  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
