<div>
	<% @current_user.categories.each do |category| %>
		<%= link_to "#{category.name}", :controller => "#{controller.controller_name}", :action => "index" ,:category_id => "#{category.id}"%>
	<% end %>
</div>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Goal</th>
      		<th>Start time</th>
      		<th>End time</th>
      		<th>Security</th>
      		<th>State</th>
      		<th>Priority</th>
      		<th colspan="3"></th>
    	</tr>
  	</thead>
  	<tbody>
    	<% @tasks.each do |task| %>
			<tr>
				<td><%= task.name %></td>
        		<td><%= task.goal %></td>
        		<td><%= task.start_time %></td>
        		<td><%= task.end_time %></td>
        		<td><%= @security_list[task.security.to_s] %></td>
        		<td><%= @state_list[task.state.to_s] %></td>
        		<td><%= @priority_list[task.priority.to_s] %></td>
        		<td><%= link_to 'Show', task %></td>
        		<td><%= link_to 'Edit', edit_task_path(task) %></td>
				<td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
  	</tbody>
</table>