<table>
  <% @task_histories.each do |histories| %>
    <tr>
      <td>
        <div id="<%= "task_history_memo_#{histories.id}" %>">
          <%= histories.memo %>
        </div>
        <div id="<%= "task_history_textarea_#{histories.id}" %>" class="task_history_textarea">
          <p><textarea id="<%= "task_history_text_#{histories.id}" %>" name="<%= "task_history_text_#{histories.id}" %>" cols=40 rows=4><%= histories.memo %></textarea></p>
          <p><%= time_select :task_history_start_time, "history_#{histories.id}",:default =>histories.start_time %></p>
          <p><%= time_select :task_history_end_time, "history_#{histories.id}",:default =>histories.end_time %></p>
          <div style="text-align: right;">
            <%= link_to t("menu.send"),"#",:onclick => "update_history('#{histories.id}')".html_safe %>
          </div>
        </div>
      </td>
      <td><%= histories.start_time %></td>
      <td><%= histories.end_time %></td>
      <td><%= link_to t("menu.edit"),"#",:onclick => "edit_history('#{histories.id}');return false;".html_safe %></td>
      <td><%= link_to t("menu.delete"),"#",:onclick => "delete_history('#{histories.id};return false;')".html_safe %></td>
    </tr>
  <% end %>
</table>
