<div id="run_exe">
	<div id="login_main">
		<div class="login_table_left">
			<div class="lf_container" style="width: 99%;margin-top: 70px;">
				<p style="font-size:35px;text-align: right;color: #444444;">
					<%= t("site_title")%>
				</p>
				<p style="font-size:23px;line-height:25px;text-align: right;"><br/>
					<%= t("concept_one")%><span style="color: #bb3333">
						<%= t("concept_two")%>
					</span>
				</p>
			</div>
		</div>
		<div class="login_table_right">
			<div class="contents_base">
				<p class="error_message">
					<% if @user.errors.any? %>
    					<div id="error_explanation">
							<ul>
								<% @user.errors.full_messages.each do |message| %>
     								<li><%= message %></li>
     				 			<% end %>
							</ul>
						</div>
					<% end %>
				</p>
				<%= form_for(@user,:url=>{:controller=>"session", :action=>"create"}) do |f| %>
					<table class="designTable">
						<tr>
							<th><%= f.label :nickname, t("users.nickname")  %></th>
							<td>
								<%= f.text_field :nickname %>
							</td>
						</tr>
						<tr>
							<th style="font-size:10px;"><%= f.label :password,t("users.password") %></th>
							<td>
								<%= f.password_field :password %>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<%= f.submit "Login" %>
								<a class="pickup" href="#"><%= t("login.forget_id_and_password")%></a>
								<br/>サンプルユーザーでログインできます。<br/>
							iD:sample PW:test
							</td>
						</tr>
					</table>
				<% end %>
				<%= form_tag({:controller=>"users",:action=>"create"}) do %>
					<table class="designTable">
						<tr>
							<th colspan="2" style="text-align: left;">
								<p>メールアドレスでアカウント作成しましょう！</p>
								<%= text_field :user, :mail %>
								<%= submit_tag "新規登録" %>
							</th>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	
	</div>
	<div id="login_footer">
	</div>

</div>