<%= form_for(@taskmail) do |f| %>
  <% if @taskmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taskmail.errors.count, "error") %> prohibited this taskmail from being saved:</h2>

      <ul>
      <% @taskmail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :cc %><br>
    <%= f.text_field :cc %>
  </div>
  <div class="field">
    <%= f.label :bcc %><br>
    <%= f.text_field :bcc %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :header %><br>
    <%= f.text_area :header,:size => "60x10"  %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text,:size => "60x10" %>
  </div>
  <div class="field">
    <%= f.label :footer %><br>
    <%= f.text_area :footer %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
