<h1>Listing taskmails</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Address</th>
      <th>Cc</th>
      <th>Bcc</th>
      <th>Subject</th>
      <th>Header</th>
      <th>Text</th>
      <th>Footer</th>
      <th>Status</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taskmails.each do |taskmail| %>
      <tr>
        <td><%= taskmail.from %></td>
        <td><%= taskmail.address %></td>
        <td><%= taskmail.cc %></td>
        <td><%= taskmail.bcc %></td>
        <td><%= taskmail.subject %></td>
        <td><%= taskmail.header %></td>
        <td><%= taskmail.text %></td>
        <td><%= taskmail.footer %></td>
        <td><%= taskmail.status %></td>
        <td><%= taskmail.type %></td>
        <td><%= link_to 'Show', taskmail %></td>
        <td><%= link_to 'Edit', edit_taskmail_path(taskmail) %></td>
        <td><%= link_to 'Destroy', taskmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taskmail', new_taskmail_path %>
