<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @taskmail.from %>
</p>

<p>
  <strong>Address:</strong>
  <%= @taskmail.address %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @taskmail.cc %>
</p>

<p>
  <strong>Bcc:</strong>
  <%= @taskmail.bcc %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @taskmail.subject %>
</p>

<p>
  <strong>Header:</strong>
  <%= @taskmail.header %>
</p>

<p>
  <strong>Text:</strong>
  <%= @taskmail.text %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @taskmail.footer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @taskmail.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @taskmail.type %>
</p>

<%= link_to 'Edit', edit_taskmail_path(@taskmail) %> |
<%= link_to 'Back', taskmails_path %>
