<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Security</th>
      <th>Project type</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project.name %></td>
        <td><%= project.project.purpose %></td>
        <td><%= project.project.start_time %></td>
        <td><%= project.project.end_time %></td>
        <td><%= project.project.security %></td>
        <td><%= project.project.project_type %></td>
        <td><%= project.project.memo %></td>
        <td><%= link_to 'Show', project.project %></td>
        <td><%= link_to 'Edit', edit_project_path(project.project) %></td>
        <td><%= link_to 'Destroy', project.project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
